<div class=" container border border-light bg-light py-5 my-5 shadow-lg">
<div class="d-flex justify-content-center mb-3">
  <h1>Create a new Restaurant</h1>
</div>
<div class="d-flex-inline justify-content-center px-5 mb-3">
  <%= simple_form_for @restaurant do |f|%>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
    <%= f.input :phone_number %>
    <%= f.submit class: "btn btn-primary mt-3"  %>
  <% end %>
</div>
</div>
